@page "/"
@using BlazorGameEngine
@using ChristmasJumpGame.JumpGame
@inject ElfJumpGame game

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-around" style="background: black;">
	<GameView Game="game" style="height: 100vh; image-rendering: pixelated;" />
</div>

