@using Blazor.Extensions.Canvas
@using Blazor.Extensions
@using ChristmasJumpGame.Engine.Abstractions

@foreach (var asset in assets)
{
	if (asset is IImageGameAsset imageGameAsset)
	{
		<img src="@asset.Source" @ref=imageGameAsset.ElementReference style="display:none;" loading="eager" />
	}
}

<div style="border: 1px solid black;display: inline-block; position: relative;" tabindex="0"
	 @ref=canvasContainer
	 @onmousemove="OnMouseMove"
	 @onmousedown="OnMouseDown"
	 @onmouseup="OnMouseUp"
	 @onkeydown="OnKeyDown"
	 @onkeyup="OnKeyUp">

	@if (Game is not null)
	{
		<div style="width: @(Game.ViewWidth)px; height: @(Game.ViewHeight)px; position: relative; overflow: hidden;">
			<div style="left: @(-Game.ViewX)px; top:@(-Game.ViewY)px; position: absolute; overflow: visible;">
				<BECanvas @ref=canvas Width="Game.RoomWidth" Height="Game.RoomHeight" />
			</div>
		</div>
	}

</div>
